h1 {
  color: mediumseagreen;
}

h2 {
  color: palegreen;
}

h3 {
  color: seagreen;
}

h1, h2 {
  font-family: Andale Mono,AndaleMono,monospace;
}

body {
   background-color: honeydew;
}

p {
  font-family: 'Oswald', sans-serif;
}

.claseBtnNo {
  text-align: center;
}
